@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
@import '_abstracts/_mixins';
@import '_abstracts/_variables';
@import '_base/_reset';
@import '_base/_global';
@import '_base/_typography';
@import '_base/_about';
@import '_layout/_footer';
@import '_layout/_forms';
@import '_layout/_header';
@import '_layout/_banner';
@import '_layout/_sidebar';
@import '_layout/_section';
@import '_layout/_animation';
@import '_layout/_blog';
@import '_components/_buttons';

.menu {
    >li {
        &:last-child {
            .submenu {
                left: unset;
                right: 0;
            }
        }
    }
}
.pagination {
    margin: -3px;
    margin-top: 25px;
    justify-content: center;

    .page-item {
        text-align: center;
        padding: 3px;

        a,
        span {
            width: 45px;
            height: 45px;
            @include border-radius(3px);
            background: $theme-color;
            color: #fcf6f5ff;
            padding: 0;
            line-height: 45px;
            display: block;
            margin: 0;
            border: 1px solid rgba($color:$title-color, $alpha:.2);
        }


        &.active,
        &:hover {

            span,
            a {
                background: $white-color;
                color: $theme-color;
                border: 1px solid rgba($color:$title-color, $alpha:.2);
            }
        }

        &.disabled {
            span {
                background: rgba($color:$theme-color, $alpha:.3);
                border: none;
                color: $title-color;
            }
        }
    }
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    background: $primary-bg;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.preloader .loader {
    display: inline-block;
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 3;
    border: 4px solid white;
    top: 50%;
    -webkit-animation: loader 2.5s infinite ease;
    animation: loader 2.5s infinite ease;
}

.preloader .loader .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: white;
    -webkit-animation: loader-inner 2.5s infinite ease-in;
    animation: loader-inner 2.5s infinite ease-in;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
