.header-wrapper {
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    .select-bar {
        height: 30px;
        border: none;
        &::after {
            border-color: $white-color;
        }
        .current {
            line-height: 30px;
            display: block;
        }
        background: transparent;
    }
    .current {
        color: $white-color;
    }
    .list {
        background: $primary-bg;
        max-height: 140px;
        overflow-y: auto;
        li {
            background: $primary-bg;
            padding-top: 0;
            padding-bottom: 0;
            color: $white-color;
            font-weight: 400;
            &.selected.focus {
                background: $theme-bg;
            }
            &:hover {
                background: $theme-bg !important;
            }
        }
    }
    .logo {
        width: 170px;
        a {
            display: block;
        }
        img {
            max-width: 100%;
        }
    }
    .right-area {
        align-items: center;
        @extend %flex;
        .custom-button {
            padding: 0 15px;
            line-height: 40px;
            font-size: 14px;
            margin: 5px;
        }
        @include breakpoint(max-lg) {
            @include breakpoint(md) {
                margin-left: auto;
            }
        }
    }
    padding: 20px 0;
    @media screen and (max-width:450px) {
        .logo {
            width: 160px;
        }
        .right-area {
            .custom-button {
                font-size: 12px;
                line-height: 32px;
                padding: 0 12px;
                @include border-radius(2px);
            }
            .select-bar {
                .current {
                    font-size: 12px;
                }
            }
        }
        .header-bar {
            margin-right: 0;
        }
    }
}

.menu {
    @extend %flex;
    font-family: $heading;
    font-weight: 500;
    li {
        padding: 0;
        a {
            padding: 5px 15px;
            font-weight: 500;
            color: $white-color;
        }
        @include breakpoint(lg) {
            .submenu {
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                min-width: 220px;
                background: $primary-bg;
                @include transition($transition);
                opacity: 0;
                visibility: hidden;
                border: 1px solid rgba($color:$white-color, $alpha:.09);
                border-bottom: none;
                li {
                    a {
                        display: flex;
                        justify-content: space-between;
                        padding: 5px 20px;
                        border-bottom: 1px solid rgba($color:$white-color, $alpha:.09);
                        font-weight: 400;
                    }
                    .submenu {
                        left: 100%;
                        top: 10px;
                    }
                    &:hover>.submenu {
                        top: 0;
                    }
                    &:hover >a {
                        background: $theme-color;
                        color: $white-color;
                        padding-left: 22px;
                    }
                }
            }
            &:hover {
                >.submenu {
                    top: 100%;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    @include breakpoint(max-lg) {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9;
        background: $primary-bg-2;
        overflow: auto;
        max-height: calc(100vh - 100px);
        @include transition($transition);
        @include transform(scaleY(0));
        transform-origin: top;
        display: block;
        &.active {
            @include transform(scaleY(1));
        }
        li {
            padding: 0;
            border-bottom: 1px solid transparent;
            &.open {
                ul {
                    li {
                        &:last-child {
                            border-color: rgba($color:$white-color, $alpha:.1);
                        }
                    }
                }
            }
            a {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgba($color:$white-color, $alpha:.1);
                padding: 5px 20px;
                font-size: 16px;
            }
            &:last-child {
                >a {
                    border: none;
                }
            }
            .submenu {
                padding-left: 20px;
                display: none;
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
            .custom-button {
                border: 1px solid rgba($color:$title-color, $alpha:.09) !important;
                font-size: 14px;
                line-height: 40px;
                justify-content: center;
            }
        }
    }
    @include breakpoint(lg) {
        margin-left: auto;
    }
}
.header-section {
    position: fixed;
    width: 100%;
    left: 0;
    top: 5px;
    z-index: 99;
    border-bottom: 1px solid rgba($color:$white-color, $alpha:.1);
    @include transition($transition);
    &.active {
        top: 0;
        background: $primary-bg-2;
        border: none;
    }
}
.menu-item-has-children {
    position: relative;
    z-index: 999 !important;
    >a {
        align-items: center;
        &::after {
            content: "\f0d7";
            font-weight: 600;
            font-family: "Font Awesome 5 Free";
            margin-left: 5px;
        }
    }
    @include breakpoint(lg) {
        &.open {
            .submenu {
                display: block !important;
            }
        }
        .submenu {
            display: block !important;
        }
    }
}

.header-bar {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 20px;
    @include breakpoint(sm) {
        margin-right: 20px;
    }
    @include breakpoint(lg) {
        display: none;
    }
    span {
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 100%;
        @include transition($transition);
        background-color: $white-color;
        left: 0;
        &:first-child {
            top: 0;
        }
        &:nth-child(2) {
            top: 52%;
            transform: translateY(-65%);
        }
        &:last-child {
            bottom: 0;
        }
    }
    &.active {
        span {
            &:first-child {
                @include transform(rotate(45deg) translate(3px, 9px));
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                @include transform(rotate(-45deg)translate(3px, -9px));
            }
        }
    }
    @include breakpoint(max-sm) {
        margin-right: 15px;
        width: 15px;
        height: 16px;
        span {
            height: 2px;
            width: 20px;
        }
        &.active {
            span {
                &:first-child {
                    @include transform(rotate(45deg) translate(4px, 6px));
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    @include transform(rotate(-45deg)translate(4px, -6px));
                }
            }
        }
    }
}
